body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

#container {
    display: flex;
    width: 70%;
    max-width: 900px;
    height: 600px;
    background: white;
}

#imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
}

#imageContainer img {
    width: 80%;
    height: auto;
}

#formContainer {
    flex: 1;
    padding: 40px;
    text-align: center;
    background: white;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}


input:hover{
    border-color: #007bff;  /* Change border to blue */
    background-color: #f0f8ff; /* Change background to light blue */
}

input:focus {
    background-color: #f2f2f2; /* Light blue */
}

button {
    width: 105%;
    margin: 10px 0;
    background-color: #000000;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0px 0px 15px #414141;
}


button img {
    width: 20px;
    height: 20px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    position: relative;
    padding: 12px 24px;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.forget-password:hover {
    color: #942b2b;
}

